---
import Section from "../Section.astro";
import CVRaw from "@cv";
import type { CV as CVType } from "@/cv";
const CV = CVRaw as CVType;
const { summary } = CV.basics;
---

<Section title="About">
  <p class="text-[18px] leading-loose text-skin-base italic font-serif-main">
    {summary}
  </p>
</Section>
